.main {
  margin: 10px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.head {
  font-size: 60px;
  font-weight: 800;
  text-shadow: #b71c1c 0.5px 0.5px;
  color: #b71c1c;
  /* -webkit-text-stroke: 0.5px rgba(255, 0, 0, 0.897); */
}

.description {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}

.title {
  margin-top: 50px;
  padding-left: 20px;
  font-size: 32px;
  font-weight: 700;
  text-shadow: black 0.8px 0.5px;
  background-color: rgb(235, 235, 235);
  /* border: double black 10px; */
  border: solid black 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.subTitle {
  width: 150px;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 700;
  background-color: rgb(235, 235, 235);
  border: solid grey 4px;
  border-radius: 10px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.content {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.img {
  width: 100%;
  /* border: solid black 2px; */
  padding-left: 30px;
  padding-right: 30px;
}

/* .img__detail {
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border: solid grey 1px;
} */
